a:link,a:visited{text-decoration:none;color: white;}
a:hover{text-decoration:none;}
body,ul,dd{margin: 0px; padding: 0px;}
*{font-family:Microsoft Yahei; font-size: 14px;} 
/* 内容 */
.company_info_title_num{width:20px;height:20px;border-radius:10px; float: left;background: #48CFAF;color: white;font-size: 14px;text-align: center;line-height: 20px;}
.company_info_body{width: 100%;height:2600px;}
.company_info_content{width: 1250px; margin: 0px auto; padding-left:50px;}
.company_info_left{width:260px;height:auto;float: left;padding-top:20px;font-size: 13px;}
.company_info_left_title{width: 98%;margin:0px auto;height:180px;text-align: center;background-color: #89ACE2;padding-top:20px;}
.company_info_template{margin:0px auto;width:120px;height:140px;z-index:-1;background: url('../../resource/img/img_24.png');-webkit-box-shadow: 1px 1px 1px;-moz-box-shadow: 1px 1px 1px;box-shadow: 1px 1px 1px;}
.company_info_template_txt{background-color: #E3E4E8;height:40px;z-index:1;;line-height: 40px;}
.company_info_vote{width: 98%;margin:0px auto;height:130px;text-align: center;border: 1px solid #EAEAEA;background: #f9f9f9;}
.company_info_vote table{padding:10px;}
.company_info_vote_describe{width:50px;height:30px;}
.company_info_vote_progress{width:150px;height:15px;background-color: #89ACE2;float: left;border-radius:3px 0px 0px 3px;}
.company_info_vote_progress_noshow{width:20px;height:15px;background-color: #E3E4E8;float: left;border-radius:0px 3px 3px 0px;}
.company_info_newest_dynamic{width: 98%;margin:0px auto;height:330px;border: 1px solid #EAEAEA;background: #f9f9f9;}
.company_info_newest_dynamic_title{background: #89ACE2;height:40px;width:90%;line-height: 40px;color: white;padding-left:10%;}
.company_info_newest_dynamic_content{width:90%;height:300px; padding:10px 0px 0px 20px;margin: 0px auto;}
.company_info_newest_dynamic_content p{height:30px;}
.company_info_his{margin:0px auto;height:280px;border: 1px solid #EAEAEA;width:98%;background: #f9f9f9;}
.company_info_his_body{background: #89ACE2;height:40px;width:90%;padding-left:10%;line-height: 40px;}
.company_info_his_body_content{width:98%;height:215px;padding-top: 15px;padding-left:15px; font-size: 13px;}
.company_info_his_body_content table{width:90%}
.company_info_his_body_content td{font-size:14px;padding:0px;margin:0px;}
.company_info_identity{width:20px;height:20px;border-radius:10px; background: #CDCDCD;color: white;font-size: 14px;text-align: center;line-height: 20px;}
.company_info_recent{width: 98%;margin:0px auto;height:630px;border: 1px solid #EAEAEA;background: #f9f9f9;}
.company_info_recent_title{background: #89ACE2;height:40px;width:91%;line-height: 40px;padding-left:10%;color: white;}
.company_info_recent_content{width:92%;height:550px; padding:10px 0px 0px 20px;margin: 0px auto;}
.company_info_recent_content td{padding-bottom:10px;font-size: 16px;vertical-align:top;}

.company_info_right_body{width: 73%;height:auto;float: left; padding:0px 20px;}
.company_info_right_content{width: 99%;padding-top:1%;margin: 0px auto; }
.company_info_right_info{height:140px;width:94%;border-top: 3px solid #F0F0F2; background: #F9FAFC;padding:3%;}
.company_info_right_img{float: left;width: 130px;text-align:center;}
.company_info_right_img img{width:110px;height:105px;}
.company_info_right_cominfo{float: left;padding-left: 10px;width:560px;float: left;}
.company_info_right_info img{vertical-align: middle;}
.company_info_right_name{width:460px;font-size: 16px;font-weight: bold;height:30px;}
.company_info_right_name input{border-radius:3px;border:0px;background: #7DC67F;color: white;vertical-align: middle;padding: 0px 3px;width: 35px;height: 22px;}
.company_info_right_name img{vertical-align: middle;}
.company_info_right_cominfo span{padding:10px;}
.company_info_right_cominfo>div{padding:10px;}
.company_info_right_address{width:320px;height:25px;}
.company_info_right_attention{border-radius:2px;border:0px;;width:60px;height:30px;cursor:pointer;}
.company_info_right_share{border-radius:2px;border:0px;background: #89ACE2;width:60px;height:30px;color: white;cursor:pointer;}
.company_info_right_update{border-radius:3px;border:0px;background: #5BB85D;width:114px;height:32px;color: white;margin-left: 10px;}
.company_info_right_menu{clear: both;width:96%;padding-left:10px;}
.company_info_info_content{width: 100%;margin:0px auto;height:300px;border: 1px solid #E3E4E8;}
.company_info_info_content>table{width:80%;height:240px; margin: 0px auto;}
.company_info_right_title{background: #EAEAEA;border:1px solid #EAEAEA; height:50px;width:97%;line-height: 50px;padding-left:3%;font-weight: bold;}
.company_info_right_title img{cursor:pointer;}
.company_info_shareholder{width: 100%;margin:0px auto;height:450px;border: 1px solid #E3E4E8;}
.company_info_shareholder>div{float: left; width:230px;padding:20px 20px;height:180px;}
.company_info_shareholder td{font-size: 14px;}
.company_info_shareholder img{margin-bottom: 15px;}
.company_shareholder_name{font-size: 16px;font-weight: 600;padding-bottom: 5px;}
.company_info_member{width: 100%;margin:0px auto;height:250px;border: 1px solid #E3E4E8;}
.company_info_member>div{float: left; width:220px;padding:20px;}
.company_info_member td{width:80px;}
.company_info_alteration{width: 100%;margin:0px auto;height:260px;border: 1px solid #E3E4E8;}
.company_info_alteration>div{width:100%;height:260px; margin: 0px auto;}
.company_info_alteration_info{width: 100%;margin:0px auto;height:128px;border-top: 1px solid #EAEAEA;}
.company_info_company_intro{width: 90%;margin:0px auto;height:580px;border: 1px solid #E3E4E8;padding:5%;font-size: 14px;}
.company_info_company_intro>div{width: 98%; margin: 0px auto;}
.company_info_company_intro p{height:30px;font-size: 15px;font-weight: bold;}

.company_info_comment{width: 100%;margin:0px auto;border: 1px solid #E3E4E8;height:auto}
.company_info_comment_body{width:800px;margin: 0px auto;height:180px;padding-top:30px;}
.company_info_comment_body div{float:left}
.company_comment_content{width:680px;height:130px;padding-top:10px;}
.company_comment_content div{padding-top:10px;}
.company_info_comment_body input{margin-right:8px;float:right;background:#89ace2;border:0px;border-radius:3px;height:35px;width:100px;color: white;cursor:pointer;}
.company_info_comment_body textarea{width:700px;height:100px;}
