a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
.com_top,.com_bottom{
	padding: 0px;
	margin: 0px;
	font-family: Microsoft Yahei;
	font-size: 14px;
}
.com_bottom {
	width: 100%;
	height:300px;
	background: #222222;
	border-top: 1px solid #88888A;
	color: white;
	float: left;
	margin-top: 20px;
}

.com_bottom_body {
	padding-top:30px;
	width: 1450px;
	height:250px;
	margin: 0px auto;
}
.com_bottom_body_right { 
	width:480px!important;
}
.com_bottom_body_right p{
	height:30px;
}
.com_bottom_body_right>div{
	width:120px;
	text-align: center;
}
.com_bottom_body>div {
	width: 460px;
	font-size: 12px;
	float: left;
}
.com_bottom_body>div div{
	float: left;
}
.com_bottom_body p {
	font-size: 18px;
}

.com_bottom_body img {
	vertical-align: middle;
}

.com_bottom_body table {
	color: white;
	font-size: 12px;
}

.com_bottom_body table td {
	width: 150px;
	height: 30px;
}

.com_bottom_body_txt {
	width: 460px;
}
.com_bottom_body_txt a{
	color: #89ace3;
}
.com_bottom_body_txt img{
	margin-top:-1px;
}
.com_bottom_body_txt p {
	font-size: 14px;
	pdding: 3px 0px;
}

.com_top {
	height: 100px;
	width: 100%;
}

.com_top_yado {
	float: left;
	width: 320px;
	font-size: 26px;
	height: 40px;
	padding-top: 10px;
	cursor: pointer;
}

.com_top_yado span {
	font-size: 26px;
}

.com_top_language {
	width: 550px;
	height: 35px;
	margin: 0px auto;
	float: left;
	padding-top: 15px;
}
.com_top_language select {
	margin-right: 2px;
	height:30px;
	vertical-align: middle;
	padding:0px;
}
.com_top_login_is_regist {
	width: 280px;
	height: 60px;
	text-align: left;
	margin: 0px auto;
	float: left;
	font-size: 16px;
	line-height: 60px;
}

.com_top_language>div {
	margin: 0px auto;
	height: 27px;
}

.com_top_language>select {
	background: white;
	height: 33px;
	text-align: center;
	padding-left: 5px;
}

.com_top_language>input,select {
	vertical-align: middle;
	border:1px solid #e5e4d8;
}

.com_top a:link,a:visited {
	text-decoration: none;
	color: #2D6DB8;
}

.com_top a:hover {
	text-decoration: none;
}